body {
  background-color: #fffabf;
}
#center_logo {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #fffabf;
  border: 0;
}
.img-thumbnail {
  background-color: #fffabf;
  border: 0;
}
#para2 {
  text-align: center;
}
.footer_text {
  background-color: #ec3237;
}
@media (max-width: 425px) {
  #logo {
    width: 70%;
  }
}
@media (max-width: 320px) {
  #logo {
    width: 80%;
  }
}
